<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
</head>
<body>

    <div class="col-12">
        <a href="/Views/User/Listing.cshtml">Sell</a>
    </div>

    <div class="col-12">
        <a href="/Views/User/OrderHistory.cshtml">See Your Orders</a>
    </div>

    <div class="col-12">
        <a href="/Views/User/ChangePayment.cshtml">User Options</a>
    </div>

    <div class="col-12">
        <a href="/Views/User/ChangeAddress.cshtml">Address Options</a>
    </div>

    <div class="col-12">
        <a href="/Views/User/ChangePayment.cshtml">Payment Options</a>
    </div>


</body>
</html>

