@model List<SneakerDrop.Mvc.Models.FindProductInfoViewModel>
@*use a list of findproductbynewest instead of single problem listing*@
@{
    ViewData["Title"] = "SneakerDrop: Buy and Sell Sneakers and Streetwear";
}

<partial name="../Partials/HomeHeader" />
<div>
    @*<partial name="_CookieConsentPartial" />*@
    <main role="main">
        <div class="homeBanner2"></div>
        <div class="container  mt-4 box-shadow">
            <h4>RECENTLY ADDED PRODUCTS</h4>
            <div class="d-flex align-content-start flex-wrap">
                @foreach (var item in Model)
                {
                    <a class="d-inline flex-grow-1">
                        <div>
                            <img class="productImage" src="@item.ImageUrl" alt="@item.ProductInfoId" />
                            <span class="d-block productText">@item.ProductTitle</span>
                        </div>
                    </a>
                }
            </div>
        </div>
    </main>
</div>
