@model SneakerDrop.Mvc.Models.FindProductInfoViewModel

@{
    ViewData["Title"] = "SneakerDrop: Buy and Sell Sneakers and Streetwear";
}

<partial name="../Partials/HomeHeader" />
<div>
    <partial name="_CookieConsentPartial" />
    <main role="main">
        <div class="homeBanner2"></div>
        <div class="container  mt-4 box-shadow">
            <h4>MOST RECENT LISTING</h4>
            <div>

            </div>
        </div>
    </main>
</div>
