@model SneakerDrop.Mvc.Models.UserViewModel;

@{
    ViewBag.Title = "Userpage";
}

<partial name="../Partials/GeneralHeader.cshtml" />
<div class="text-center mt-3 font-weight-bold">
    <partial name="../Partials/PostUserName.cshtml" />
</div>

@using (@Html.BeginForm("Logout", "User"))
{
    <div class="pl-2 pr-2 mt-5">
        <div class="row m-1 d-flex justify-content-center">
            <a href="~/Home/OrderHistory" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/orderImage.png" alt="orders" />
                </div>
                <div class="d-inline-block userText">
                    <div>Orders</div>
                    <small>Track status of your orders</small>
                </div>
            </a>
            <a href="~/Home/ChangeUserInfo" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/LockImage.png" alt="users" />
                </div>
                <div class="d-inline-block userText">
                    <div>Login & Security</div>
                    <small>Edit login, name, etc.</small>
                </div>
            </a>
            <a href="~/Home/SellerSearch" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/youSellImage.jpg" alt="selling" />
                </div>
                <div class="d-inline-block userText">
                    <div>Sell</div>
                    <small>Sell your authentic goods</small>
                </div>
            </a>
        </div>
        <div class="row m-1 d-flex justify-content-center">
            <a href="~/Home/ChangeAddress" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/addressImage.png" alt="addresses" />
                </div>
                <div class="d-inline-block userText">
                    <div>Your Address</div>
                    <small>Edit Addresses</small>
                </div>
            </a>
            <a href="~/Home/ChangePayment" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/PaymentImage.png" alt="payments" />
                </div>
                <div class="d-inline-block userText">
                    <div>Payment options</div>
                    <small>Add or Delete payments</small>
                </div>
            </a>
            <a href="~/Home/GetListing" class="userPageDiv d-inline-block p-2">
                <div class="d-inline">
                    <img src="../images/SellImage.png" alt="listings" />
                </div>
                <div class="d-inline-block userText">
                    <div>Your Listings</div>
                    <small>See or Delete Listings</small>
                </div>
            </a>
        </div>
    </div>
}

