@model SneakerDrop.Mvc.Models.FindProductInfoViewModel;
@{
    ViewData["Title"] = "Catalog";
}

<div class="search d-inline">
@using (@Html.BeginForm("buyer2", "Store"))
{
    <p>@ViewBag.ProductName</p>
    <button type ="submit">Pick</button>
}
</div>
