@model List<SneakerDrop.Mvc.Models.FindProductInfoViewModel>
@{
    ViewData["Title"] = "Catalog";
}

<partial name="../Partials/GeneralHeader.cshtml" />
<div class="search d-inline">
    <div>
        <main role="main">
            <div class="homeBanner2"></div>
            <div class="container text-center pt-5">
                @if (Model.Count > 0)
                {
                    <partial name="../Partials/SearchBuyer.cshtml" />
                }
            </div>
            @using (Html.BeginForm("Product", "Store", FormMethod.Get))
            {
                <div class="container  mt-5 box-shadow">
                    <h4>SEARCH RESULTS</h4>
                    <hr />
                    <div class="pl-3 d-flex align-content-start flex-wrap">
                        @if (Model.Count == 0)
                        {
                            <p>Nothing found.</p>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <div class="d-inline m-1">
                                    <div class="homepageImg">
                                        <img class="productImage" src="@item.ImageUrl" alt="@item.ProductTitle" />
                                    </div>
                                    <div class="d-block productText smallBox">@item.ProductTitle</div>
                                    <div class="d-block smallBox">
                                        <button name="viewItem" class="btn-link noBorder" type="submit" value="@item.ProductInfoId">More Details</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
            }
        </main>
    </div>
</div>