@model List<SneakerDrop.Mvc.Models.FindProductInfoViewModel>
@{
    ViewData["Title"] = "Catalog";
}

<partial name="../Partials/GeneralHeader.cshtml" />
@using (Html.BeginForm("Product", "Store", FormMethod.Get))
{
    <div class="search d-inline">
        <div>
            <main role="main">
                <div class="homeBanner2"></div>
                <div class="container  mt-5 box-shadow">
                    <h4>SEARCH RESULTS</h4>
                    <div class="d-flex align-content-start flex-wrap">
                        @foreach (var item in Model)
                        {
                            <div class="d-inline flex-grow-1 pl-1 m-1">
                                <div class="homepageImg">
                                    <img class="productImage" src="@item.ImageUrl" />
                                </div>
                                <div class="d-block productText smallBox">@item.ProductTitle</div>
                                <div class="d-block smallBox">
                                    <button name="viewItem" class="btn-link noBorder" type="submit" value="@item.ProductInfoId">More Details</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </main>
        </div>
    </div>
}