@using (Html.BeginForm("Completion", "Home"))
{

    <h1> You Have Completed Your Order</h1>

    <button name="orderhistory" type="submit" value="done" class="btn btn-danger">Check Your Order History</button>
}