@model List<SneakerDrop.Mvc.Models.FindProductInfoViewModel>

<partial name="../Partials/GeneralHeader.cshtml" />
<div id="sellerBanner" class="text-center pt-5 pb-5">
    <h1 class="sellerTitle pb-4 pt-5">What do you want to sell?</h1>
    <div class="search d-inline">
        @using (@Html.BeginForm("buyer", "Store"))
        {
            @Html.TextBoxFor(u => u[0].ProductTitle, "Search", new { @required = "required", @class = "pl-2 searchbar" })
            @Html.ValidationMessageFor(u => u[0].ProductTitle)
            <button name="sell" type="submit" class="btn btn-success" value="seller">Search</button>
        }
    </div>
</div>