@model List<SneakerDrop.Mvc.Models.SingleProductViewModel>

@{
    ViewData["Title"] = "SingleItem";
}

<partial name="../Partials/GeneralHeader" />
<div class="container">
    <h1>@Model[0].ProductTitle</h1>
</div>

@using (@Html.BeginForm("orderinitial", "Store"))
{

}
