@model SneakerDrop.Mvc.Models.FindProductInfoViewModel

               <div class="search d-inline">
                   @using (@Html.BeginForm("buyer", "Store"))
                   {
                   @Html.TextBoxFor(u => u.ProductTitle, new { @required = "required", @class = "pl-2 searchbar" })
                   @Html.ValidationMessageFor(u => u.ProductTitle)
                   <button type="submit" >Search</button>
                   }
               </div>
    