@model SneakerDrop.Mvc.Models.CreateNewListingViewModel

@using (@Html.BeginForm("search", "User"))
{
<div class="search d-inline">
    @Html.TextBoxFor(u => u.ProductTitle, new { @required="required", placeholder="Search for Items"})
    @Html.ValidationMessageFor(u => u.ProductTitle)
    <button type="submit" class="btn btn-success">Search</button>
</div>
}