<!DOCTYPE html>
<html>
<head>
    <title>HomeHeader</title>

    <style>
        .search {
            position: relative;
            left: 400px
        }
    </style>
</head>
<body>

</body>
</html>