@model  SneakerDrop.Mvc.Models.UserViewModel;
<!DOCTYPE html>
<html>
<head>
    <title>PostUserName</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm("showusername", "User"))
        {
            <div class="d-inline-block">
        <p>@ViewBag.Username</p>

            </div>


        }
      </div>
   
</body>
</html>
